<% @title='All Users' %>
<% provide( :title, @title ) %> 

<h1><%= @title %></h1>

<form action=<%= users_path%> method: 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", name: nil %>
	</p>
</form>


<%= render partial: 'shared/user_list' %>



